<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Profile</title>
</head>
<body>
    <div class="container">
       <p> {{user}} User</br>
           {{user.first_name}} first name</br>
           {{user.email}} email </br>
           {{user.userprofile}} userprofile </br>
           {{user.userprofile.city}} city </br>
           {{user.userprofile.link}} link </br>
           {{user.userprofile.description}} description </br>
           {{user.userprofile.phone}} phone </br>
           {{user.userprofile.image.url}}  </br>
         
           <img src="./944.jpg" width="240">

       </p>
       <button> <a href="{% url 'logout' %}">LOGOUT</a> </button>
    </div>
</body>
</html>
<!--
    userprofile is nothing but the class name in the models.py CASE INSENSITIVE
-->