<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload File</title>
</head>
<body>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <!--<input type="file" name="file" value="file" id="file"> <label for="fileupload"> Select a file to upload</label> 
                <input type="file" name="myfile">
             -->
             {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
        {% if uploaded_file_url %}
        <p> File uploaded at: {{uploaded_file_url}}</p>
        {% endif %}
    </div>
    
</body>
</html>